<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148806385090-lqakbbpna16ravgitr9ee55sh0ofs2jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148806385090-lqakbbpna16ravgitr9ee55sh0ofs2jo</string>
	<key>API_KEY</key>
	<string>AIzaSyBLt2FddywhXerVw8hvXrtn_AFxulCaLIc</string>
	<key>GCM_SENDER_ID</key>
	<string>148806385090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.Sangchang.MyTube</string>
	<key>PROJECT_ID</key>
	<string>mytube-dc359</string>
	<key>STORAGE_BUCKET</key>
	<string>mytube-dc359.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148806385090:ios:84dd997c947ff1f00a6a5b</string>
	<key>DATABASE_URL</key>
	<string>https://mytube-dc359.firebaseio.com</string>
</dict>
</plist>